
    .post-container {
        width: calc(33% - 20px);
        margin: 10px;
        padding: 5px;
        box-sizing: border-box;
        -webkit-box-shadow: -1px 0px 12px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 12px -6px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 12px -6px rgba(0,0,0,0.75);
        border-radius: 4px;
        background-color: #3498db;
        color: #ecf0f1;

        .title-container {
            display: flex;
            flex-direction: row;
            position: relative;
            h4, input {
                flex: 1;
            }
            input {
                margin: 15px 0;
                margin-top: 25px;
            }
            .post-button-container {
                width: 15%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .post-buttons {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .title-form-actions {
                position: absolute;
                display: flex;
                flex-direction: row;
                right: 10px;
                button {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
